<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>-->
        <a routerLink="/driver" class="navbar-brand">Home</a>
        </div>
    <!--<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         <ng-template [ngIf]="!signService.loggedIn()">
            <li><a routerLink="/signup"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Register </a></li>
            <li><a routerLink="/signin"><span class="glyphicon glyphicon-ice-lolly"></span> Sign In </a></li>
            </ng-template>
            <ng-template [ngIf]="signService.loggedIn()">
            <li><a (click) = "onSave()"> <span class="glyphicon glyphicon-floppy-save"></span> Save</a></li>
            <li><a (click) = "onLoad()"><span class="glyphicon glyphicon-floppy-open"></span> Load</a></li>
            <li><a (click) = "onSignout()"><span class="glyphicon glyphicon-lamp"></span> Sign Out</a></li>
        </ng-template>
      </ul>
    </div>-->
  </div>
</nav>
